/* Общие классы */
*{box-sizing:border-box}
.box{width:100%;position:relative}
.box:after,.form:after{content:"";display:block;clear:both}
.center{text-align: center;}
img{border: 0 none; height: auto; max-width: 100%; vertical-align: middle;}

body{color:#777777; background-color:#887db2; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; line-height: 22px; margin:0}
.container{max-width:1200px; padding:0 25px; margin:0 auto;}
hr{box-sizing:content-box; height:0; margin: 15px 0; border:0; border-top: 1px solid #d2d3d4;}

/* Фоновый рисунок вверху. ВАЖНО: здесь нужно указать такой же цвет фона, как и для body! */
.tm_background{width: 100%; height: 80vh; position: absolute; background-size: auto;}
@media (min-width:  480px) { .tm_background{background: url("/images/body.jpg") no-repeat top center;} }
@media (min-width:  768px) { .tm_background{background: url("/images/body.jpg") no-repeat top center;} }
@media (min-width:  960px) { .tm_background{background: url("/images/body.jpg") no-repeat top center;} }
@media (min-width: 1220px) { .tm_background{background: url("/images/body.jpg") no-repeat top center;} }
.tm_background:after{content: ""; left: 0; right: 0; top: 0; bottom: -1px; position: absolute;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 70%, #887db2 100%);}

.navbar{text-align: center; margin:180px 0; color: #4b5052;}
.navbar a{text-decoration:none; color:inherit; display: inline-block;}

/* Логотип */
.okfilm{font-size:60px; text-align:center}
.okfilm_ok{font-family: Allura; margin-right:10px; vertical-align:middle}
.okfilm_film{font-family: Abril Fatface;}

/* Главное меню */
.menu{margin-top:25px; display:inline-block; width:auto; text-transform:uppercase;}
.menu > ul{list-style: outside none none;}
.menu > ul > li{float:left; margin:0 5px; background-color: rgba(0,0,0,0);}
.menu > ul > li > a{cursor:pointer; height: 40px; line-height: 40px; padding:0 10px; font-size: 16px;
    border: 2px solid rgba(75,80,82,0.1);}
.menu a:hover{color: #41656f;}

/* Хлебные крошки */
.breadcrumb{margin-bottom: 25px; padding: 25px 40px; background: #f6f8f9; list-style: outside none none; font-size: 0.001px;}
.breadcrumb > li{display: inline-block; font-size: 1rem;}    /* Для всего ul шрифт минимален, а тут обычный. Это чтобы убрать отступ между элементами списка. */
.breadcrumb > li:nth-child(n+2):before{content: "/"; display: inline-block; margin: 0 8px; color: #babab7;}


/* Контент - секции, блоки и колонки */
section{margin-top:25px;}
.antipad25{margin-left:-25px; width:auto;}
.pad25{padding-left:25px;}
.block{padding:30px; background-color: #f1ebe2; color: #63553f; border:15px solid #f1ebe2; box-shadow: inset 0 0 0 1px #ddcfb9;}
.block.primary{background-color: #272b4e; color: #e1eaec; border: 15px solid #272b4e; box-shadow: inset 0 0 0 1px #383e70;}
.block.primary h3{color: #e1eaec;}
.block.primary h4{color: #414781;}
.article{padding: 40px; background: #f6f8f9 none repeat scroll 0 0;}
.footer{color: #c3bdd8; padding-top: 15px; margin-bottom: 50px;}
.footer h4{color: #fdfdfe;}
.footer a{color: #fdfdfe;}
.footer a:hover{color: #fdfdfe;}

.col33{float:left; width:33.333%;}
.col25{float:left; width:25%;}
.col50{float:left; width:50%;}
.col66{float:left; width:66.666%;}
.col00{width:100%;}


/* Типография */
h1, h2, h3, h4, h5, h6 {margin: 0 0 15px 0; font-weight: 300; color: #4b5052; text-transform: uppercase;}
h1{font-size: 40px; line-height: 46px;}
h2{font-size: 26px; line-height: 33px;}
h3{font-size: 20px; line-height: 26px;}
h4{font-size: 18px; line-height: 24px;}
h5{font-size: 15px; line-height: 22px;}
h6{font-size: 14px; line-height: 20px;}

a{background: transparent;}        /* Remove the gray background color from active links in IE 10. */
a:active, a:hover {outline: 0;}    /* Improves readability when focused and also mouse hovered in all browsers. */
a, .link {color: #41656f; text-decoration: none; cursor: pointer;}
a:hover, .link:hover {color: #41656f; text-decoration: underline;}

.button{color: #4b5052; line-height: 30px; min-height: 30px; padding: 0 12px; display: inline-block; cursor: pointer;
        text-align: center; text-decoration: none; text-transform: uppercase; vertical-align: middle;
        background: #e7ebec none repeat scroll 0 0;}
.button-large{font-size: 16px; line-height: 40px; min-height: 40px; padding: 0 15px;}
.primary .button{color: #e1eaec; background: #2e325c none repeat scroll 0 0;}
.primary .button:hover{background: #333866 none repeat scroll 0 0;}


/* Слайдшой на главной */
.home-slideshow{list-style: outside none none; padding: 0; margin: 0; min-height: 1px;}
.home-slideshow > li{display: none;}
.home-slideshow > li > img{max-width: 100%; height: auto; vertical-align: middle;}
.home-slideshow > li > h3{position: absolute; left: 50px; color: white; padding: 3px 20px;
                          background-color: rgba(255,255,255,0.3);}
