@import 'https://fonts.googleapis.com/css?family=Allura';
@import 'https://fonts.googleapis.com/css?family=Abril+Fatface';

/* Общие классы */
*{box-sizing:border-box}
.box{width:100%;position:relative}
.box:after,.form:after{content:"";display:block;clear:both}
.center{text-align: center;}
img{border: 0 none; height: auto; max-width: 100%; vertical-align: middle;}

/* Подгонка под старые браузеры*/
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {display: block;}   /* Делаем HTML5 элементы блочными */
/* Конец подгонки под старые браузеры*/

body{color:#777777; background-color:#887db2; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; line-height: 22px; margin:0}
.container{max-width:1200px; padding:0 25px; margin:0 auto;}
hr{box-sizing:content-box; height:0; margin: 15px 0; border:0; border-top: 1px solid #d2d3d4;}


/* Фоновый рисунок вверху. ВАЖНО: здесь нужно указать такой же цвет фона, как и для body! */
.tm_background{width: 100%; height: 80vh; position: absolute; background-size: auto;}
@media (min-width: 1921px) { .tm_background{background: url("/images/body_max.jpg") no-repeat top center; background-size: cover;} }
@media (max-width: 1920px) { .tm_background{background: url("/images/body1920.jpg") no-repeat top center;} }
@media (max-width: 1600px) { .tm_background{background: url("/images/body1600.jpg") no-repeat top center;} }
@media (max-width: 1220px) { .tm_background{background: url("/images/body1220.jpg") no-repeat top center;} }
@media (max-width:  960px) { .tm_background{background: url("/images/body_960.jpg") no-repeat top center;} }
@media (max-width:  768px) { .tm_background{background: url("/images/body_768.jpg") no-repeat top center;} }
@media (max-width:  480px) { .tm_background{background: url("/images/body_480.jpg") no-repeat top center;} }
.tm_background:after{content: ""; left: 0; right: 0; top: 0; bottom: -1px; position: absolute;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 70%, #887db2 100%);}


.navbar{text-align: center; margin: 50px 0 70px 0; color: #4b5052; position: relative;}
.main_page .navbar{margin: 130px 0 150px 0;}
.navbar a{text-decoration:none; color:inherit; display: inline-block;}
.navbar a:hover{text-decoration: none; color:inherit;}

/* Логотип */
.okfilm{font-size:60px; text-align:center}
/*.navbar .okfilm{position: absolute; top: -50%; left: 50%; transform: translateX(-50%);}*/
/*.main_page .okfilm{position: relative;}*/
.okfilm > a{line-height: normal;}
.okfilm_ok{font-family: Allura; margin-right:10px; vertical-align:middle}
.okfilm_film{font-family: Abril Fatface;}


/* Главное меню */
.menu{margin-top: 7px; text-transform: uppercase;}
.menu a{cursor:pointer;}
.menu a:hover{color: #41656f;}
.menu ul{list-style: outside none none; margin: 0; padding: 0; width: auto;}
.menu > ul{display:inline-block;}
.menu > ul > li{float:left; margin:0 5px; background-color: rgba(0,0,0,0); display:inline-block;}
.menu > ul > li > a{height: 40px; line-height: 40px; padding:0 10px; font-size: 16px;
                    background-color: rgba(136,125,178,0.4); border: 2px solid rgba(75,80,82,0.1);}
.menu > ul > li > a:hover{background-color: rgba(253,253,254,0.2); border: 2px solid rgba(75,80,82,0.2);}
.submenu{position: absolute; padding-top: 10px; width: auto; min-width: 150px; text-align: left; display: none;}
.submenu ul{padding: 20px; background-color: rgba(253,253,254,0.4); border: 2px solid rgba(75,80,82,0.2);}
.submenu a{padding: 5px 10px; text-transform:none;}


/* Хлебные крошки */
.breadcrumb{margin-bottom: 25px; padding: 25px 40px; background: #f6f8f9; list-style: outside none none; font-size: 0.001px;}
.breadcrumb > li{display: inline-block; font-size: 1rem;}    /* Для всего ul шрифт минимален, а тут обычный. Это чтобы убрать отступ между элементами списка. */
.breadcrumb > li:nth-child(n+2):before{content: "/"; display: inline-block; margin: 0 8px; color: #babab7;}


/* Контент - секции, блоки и колонки */
section{margin-top:25px;}
.antipad25{margin-left:-25px; width:auto;}
.pad25{padding-left:25px;}
.block{padding:30px; background-color: #f1ebe2; color: #63553f; border:15px solid #f1ebe2; box-shadow: inset 0 0 0 1px #ddcfb9;}
.block.primary{background-color: #272b4e; color: #e1eaec; border: 15px solid #272b4e; box-shadow: inset 0 0 0 1px #383e70;}
.block.primary h3{color: #e1eaec;}
.block.primary h4{color: #414781;}
.article{padding: 40px; background: #f6f8f9 none repeat scroll 0 0;}
.footer{color: #c3bdd8; padding-top: 15px; margin-bottom: 50px;}
.footer h4{color: #fdfdfe;}
.footer a{color: #fdfdfe;}
.footer a:hover{color: #fdfdfe;}

.col33{float:left; width:33.333%;}
.col25{float:left; width:25%;}
.col50{float:left; width:50%;}
.col66{float:left; width:66.666%;}
.col00{width:100%;}


/* Типография */
h1, h2, h3, h4, h5, h6 {margin: 0 0 15px 0; font-weight: 300; color: #4b5052; text-transform: uppercase;}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {margin-top: 25px;}  /* Margins */
h1{font-size: 40px; line-height: 46px;}
h2{font-size: 26px; line-height: 33px;}
h3{font-size: 20px; line-height: 26px;}
h4{font-size: 18px; line-height: 24px;}
h5{font-size: 15px; line-height: 22px;}
h6{font-size: 14px; line-height: 20px;}

a{background: transparent;}        /* Remove the gray background color from active links in IE 10. */
a:active, a:hover {outline: 0;}    /* Improves readability when focused and also mouse hovered in all browsers. */
a, .link {color: #41656f; text-decoration: none; cursor: pointer;}
a:hover, .link:hover {color: #41656f; text-decoration: underline;}

.article-title{font-size: 34px; line-height: 40px; font-weight: 300; text-transform: uppercase;}
.button{color: #4b5052; line-height: 30px; min-height: 30px; padding: 0 12px; display: inline-block; cursor: pointer;
        text-align: center; text-decoration: none; text-transform: uppercase; vertical-align: middle;
        background: #e7ebec none repeat scroll 0 0;}
.button:hover{text-decoration: none;}
.button-large{font-size: 16px; line-height: 40px; min-height: 40px; padding: 0 15px;}
.primary .button{color: #e1eaec; background: #2e325c none repeat scroll 0 0;}
.primary .button:hover{background: #333866 none repeat scroll 0 0;}


/* Фотоплёнка на главной */
.photo_film_wrap{position: relative; overflow: hidden; background-color: #000; padding: 15px 0;}
.photo_film{position: relative; height: 150px; width: 200%; left: -25%; overflow: hidden; opacity: 0;
            transition: opacity 0.3s linear; -webkit-transition: opacity 0.3s linear; -o-transition: opacity 0.3s linear; -moz-transition: opacity 0.3s linear;}
.noscript .photo_film{opacity: 1;}
.photo_film img{max-height: 100%;}
.photo_film_block{height: 100%; display: block; float: left; margin: 0 3px; opacity: 1;}
.photo_film_animation{animation: changePhotoFilm 0.75s ease-out 0s 2 alternate;
              -webkit-animation: changePhotoFilm 0.75s ease-out 0s 2 alternate;
                   -o-animation: changePhotoFilm 0.75s ease-out 0s 2 alternate;
                 -moz-animation: changePhotoFilm 0.75s ease-out 0s 2 alternate; }
@keyframes         changePhotoFilm{ from{opacity: 1} to{opacity: 0} }
@-webkit-keyframes changePhotoFilm{ from{opacity: 1} to{opacity: 0} }
@-o-keyframes      changePhotoFilm{ from{opacity: 1} to{opacity: 0} }
@-moz-keyframes    changePhotoFilm{ from{opacity: 1} to{opacity: 0} }
.photo_film_paused{animation-play-state: paused;
           -webkit-animation-play-state: paused;
                -o-animation-play-state: paused;
              -moz-animation-play-state: paused; }


/* Слайдшоу на главной */
.home-slideshow{list-style: outside none none; padding: 0; margin: 0; min-height: 1px;}
.home-slideshow > li{display: none;}
.home-slideshow > li > img{max-width: 100%; height: auto; vertical-align: middle;}
.home-slideshow > li > h3{position: absolute; left: 50px; color: white; padding: 3px 20px;
                          background-color: rgba(255,255,255,0.3);}


/* Отзывы на главной */
.reviews_sec{margin-left:-15px; width:auto; color: #fdfdfe; overflow: hidden;}
#reviews{width: 100%; height: 300px;}
#reviews h4{margin: 10px 0 0 0; color: #c3bdd8; text-transform: none;}
#reviews > div{float: left; width: 20%; padding-left: 15px; opacity: 0; transform: translateX(500%);
               transition: transform 1s linear, opacity 1s ease-in;}
.noscript #reviews>div{opacity: 1; transform: translateX(0);}       /* на случай, если js не сработает */
.review_full{display: none;}


/* Размеры для картинок ставим так */
@media (max-width: 767px) { }
@media (min-width: 768px) and (max-width: 991px) { }
@media (min-width: 992px) and (max-width: 1199px) { }
@media (min-width: 1200px) { }


/* Размеры для стилей можно ставить так. Кроме того, писать общие параметры для всех экранов. */
@media (max-width: 767px) { }
@media (min-width: 768px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }
/*@media (min-width: 1440px) { }*/
@media (min-width: 1620px) { }      /* экран 1600 */
@media (min-width: 1940px) { }      /* экран 1920 */
