# Включаем SSI (Server Side Include)
Options +Includes
AddType text/html .shtml
AddHandler server-parsed .shtml


# Делаем ссылки ЧПУ
Options +FollowSymLinks
RewriteEngine On

RewriteRule ^([a-z0-9]+)$ /pages/$1.shtml
RewriteRule ^([a-z0-9]+)/([a-z0-9]+)$ /pages/$1/$2.shtml
RewriteRule ^([a-z0-9]+)/([a-z0-9]+)/([a-z0-9-]+)$ /pages/$1/$2/$3.shtml
